footer.footer
  .footer__container
    span.footer__info
      span &copy; 2012–2013 ЗАО «Компания»
      span info@name.ru
    ul.footer__menu.footer-menu
      li.footer-menu__item Главная
      li.footer-menu__item Каталог
      li.footer-menu__item Доставка и оплата
      li.footer-menu__item Прайс-лист
      li.footer-menu__item Контакты
    .footer__logo
      img(src=require('../../static/img/footer-logo.png') alt='footer-logo')
      .footer__logo__text
        span.first-line Разработка сайта
        span.second-line компания «Пиксель Плюс»
