header.header
  .container
    .logo
      .logo__img
        img(src=require('../../static/img/logo.png') alt='logo')
      .logo__text    
        span.logo__title Название компании
        span.logo__subtitle самая клевая компания
    .callback
      a(href="tel:+74997777777").callback__phone +7(499) 777-77-77
      a(href="tel:+74997777777").callback__phone +7(499) 777-77-77
      span.callback__text Обратная связь
