ul.menu
  li.menu__item
    a.menu__link Главная
  li.menu__item
    a.menu__link Каталог
  li.menu__item
    a.menu__link Доставка и оплата
  li.menu__item
    a.menu__link Прайс-лист
  li.menu__item
    a.menu__link Контакты
