.slider
  .slider__navigation.navigation
    .navigation__prev
      img(src=require('../../static/img/arrow.png'))
    .navigation__next
      img(src=require('../../static/img/arrow-next.png'))
  .slider__js.banner
      .banner__item
        img(src=require('../../static/img/slide-1.png'))
      .banner__item
        img(src=require('../../static/img/slide-2.png'))
    
