include ../../mixins

.catalog
  .catalog__products.products
    +product('Самый клевый чайник, который надо купить!', '1 900 р.')
    +product('Самый клевый чайник, который надо купить!', '1 900 р.')
    +product('Самый клевый чайник, который надо купить!', '1 900 р.')
    +product('Самый клевый чайник, который надо купить!', '1 900 р.')
    +product('Самый клевый чайник, который надо купить!', '1 900 р.')
  include ./pagination
  include ./info
