.catalog__pagination.pagination
  a.pagination__item 1
  a.pagination__item 2
  a.pagination__item.active 3
  a.pagination__item 4
  a.pagination__item 5
  a.pagination__item 6
  a.pagination__item 7
