aside.aside
  ul.aside-menu
    li.aside-menu__item
      a.aside-menu__link Автомобили
    li.aside-menu__item
      a.aside-menu__link--active Бытовая техника
      ul.aside-submenu
        li.aside-submenu__item
          a.aside-submenu__link--active Микроволновки
        li.aside-submenu__item
          a.aside-submenu__link Холодильники
        li.aside-submenu__item
          a.aside-submenu__link Посудомоечные машины
        li.aside-submenu__item
          a.aside-submenu__link Чайники
    li.aside-menu__item
      a.aside-menu__link Мобильная техника
    li.aside-menu__item
      a.aside-menu__link Компьютеры
    li.aside-menu__item
      a.aside-menu__link Одежда
    li.aside-menu__item
      a.aside-menu__link Недвижимость
  .price-list
    img(src=require('../../../static/img/price-list.png') alt='price-list')
    span.price-list__description Прайс-лист      
